
@{
    ViewBag.Title = "Gráficos de Socios";
}
<div class="card bg-light mb-3">
    <div class="card-header h4">Gráficos de Socio</div>
    <div class="card-body">
        <div class="form-group row">
            <label for="client" class="col-sm-2 col-form-label text-right">Socio:</label>
            <div class="col-sm-7">
                <select class="form-control" id="client" required></select>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <div class="h5">Peso</div>
                    </div>
                    <div class="col-md">
                        @*<button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-peso">Ver Detalle</button>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div id="chartPeso"></div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <div class="h5">Abd. Alto</div>
                    </div>
                    <div class="col-md">
                        @*<button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-alto">Ver Detalle</button>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div id="chartAbdAlto"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <div class="h5">Abd. Bajo</div>
                    </div>
                    <div class="col-md">
                        @*<button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-bajo">Ver Detalle</button>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div id="chartAbdBajo"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <div class="h5">Pecho</div>
                    </div>
                    <div class="col-md">
                        @*<button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-cadera">Ver Detalle</button>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div id="chartPecho"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/DataIndex.js"></script>
